.body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

/* DESKTOP */
.page__content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;    
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

/* TABLET */
@media screen and (max-width: 1024px) {
  .page__content {
    padding: 0 24px;   
  }
}

/* MOBILE */
@media screen and (max-width: 768px) {
  .page__content {
    padding: 0 16px;  
  }
}
